body {
  width: 100vw !important;
  overflow-x: hidden !important;
}

body>.main-body {
  width: 100vw !important;
}

html,
body {
  width: 100vw !important;
  overflow-x: hidden;
}

.main-body {
  background-color: rgba(4, 8, 12, 0.3);
  background-image: url(assets/images/Mask\ Group\ 12.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: -60vh;
}

.hero {
  width: 100vw;
  height: 80vh;
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat;
  z-index: 4 !important;
  top: 0px;
  left: 0px;
  background-size: 100vw 70vh;
  position: absolute;
}

.hero-mask {
  width: 100vw;

  height: 70vh;
  margin-top: 15vh;
  background: url(../images/contact.hero.bg.png);
  opacity: .3;
  z-index: 0 !important;
  background-repeat: no-repeat;
  background-size: 100vw 70vh;
}

.special:active,
.special:hover,
.special:focus,
.special:focus-within,
.special:focus-visible {
  border: 0px solid gray;
  outline: 0cm;
  background-color: transparent;
  border-bottom: 1px solid gray;
}
.special {
  border: 0px solid gray;
  background-color: transparent;
  width: max-content;
  border-bottom: 1px solid gray;
}

.hero * {
  color: white !important;
  font-size: 1em;
  line-height: 3em;
  font-family: montserrat;
}

.hero>div>div {
  font-weight: bold;
}

select.special option {

  padding: 20px 40px !important;
  border: none !important;
  
  outline: none !important;
  width: 100px !important;
  /* border-bottom: 1px solid #707070 !important; */

  background-color: #707070;
}
option::slotted{
  background-color: #707070;
}

select.special option:first-of-type {
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}

select.special option:last-of-type {
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  border-bottom: none !important;
}

.special-glow {
  margin-top: 40px;
  height: 30px;

  box-shadow: 0px 0px 15px #8697E0;
  padding: 1px 25px !important;
}

.submit0 {
  line-height: 0px !important;
  font-size: 10px;
  text-transform: capitalize;
  margin: 0px !important;
}

.hero>div:last-of-type {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.budget {
  width: 100px !important;
}


.progress {
  width: 140px;
  height: 40px;
  position: relative;
  border-radius: 100px;
  display: flex;
  background-color: rgba(8, 12, 18, 0.9);
}

.progress>center {
  width: 100% !important;
}

.progress-bar {
  height: 100%;
  border-radius: 100px;
  background: linear-gradient(120deg, #8697E0 0%, #2B48BC 100%);
  box-shadow: inset 0 0.05em 0.05em rgba(255, 255, 255, 0.35);
}

.progress-text {
  width: 100% !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font: clamp(.625em, 7.5vw, 5em) monospace;
  font-size: 15px;
}


.hero>div>div {
  display: flex;
  flex-direction: column !important;
  justify-content: center;
}

.hero span[c] {
  visibility: hidden;
}

.custom-dropdown {
  position: relative;
  width: 200px;
}

.dropdown-header {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 5px 5px;
  background-color: #fff;
  display: none;
}

.dropdown-list li {
  padding: 10px;
  cursor: pointer;
}

.dropdown-list li:hover {
  background-color: #f0f0f0;
}

select.special::marker{
  fill: gray;
  background: gray;
}

.special{
  height: 20px !important;
}
.success-text>p{
  line-height: 1em;
}
  .success-text{
  text-align: center;
font: normal normal normal 2.5em Montserrat;
letter-spacing: 0px;
line-height: 0px !important;
color: #FFFFFF;
opacity: 1;
}
@media screen and (max-width: 630px) {
  .hero{
padding: 0 10%;
  }
.hero-mask,.hero{
  height: max-content;
  margin-bottom: 30px !important;
}
.special-glow{
  margin-bottom: 30px !important;
}
}
/*@media screen and (max-width: 450px) {
  .hero-mask,.hero{
    height: 700px;
  }
  }@media screen and (max-width: 370px) {
    .hero-mask,.hero{
      height: max-content;
    }
    }*/